Function to load each table into a DataFrame

In [3]:
# Function to load each table into a DataFrame
def load_table(table_name):
    query = f"SELECT * FROM {table_name};"
    return pd.read_sql_query(query, conn)

In [4]:
# Merging categories by first string + grouping spiriuality
def simplify_category(category):
    religion_spirituality = ['judaism', 'islam', 'buddhism', 'hinduism', 'spirituality', 'christianity', 'religion']
    simplified = category.split('-')[0].strip().lower()
    return 'religion_spirituality' if simplified in religion_spirituality else simplified